.hero-section{
    display: flex;
    width: 100%;
    padding: 50px 50px;
    gap: 100px;
    overflow: hidden;
}
.hero-left{
    display: flex;
    flex-direction: column;
    max-width: 30%;
    gap: 10px;
}
.hero-para{
    font-size: larger;
    color: gray;
    margin-bottom: 20px;
}
.hero-heading{
    font-size: 4.5em;
    color:rgb(11, 53, 88);
    font-weight: 900;
}
.hero-btn-google, .hero-btn-microsoft{
    display: inline-flex;
    align-items: center;
    gap: 10px;
    height: 50px;
    width: 300px;
    padding: 7px 5px;
    font-size: larger;
    border-radius: 6px;
    border: none;
    background-color: rgb(4, 79, 177);

}
.hero-btn-microsoft{
    background-color:rgb(5, 53, 117) ;
}
.swap-image {
  position: absolute;
  top: 25%;
  left: 45%;
  max-width: 50%;
  opacity: 0;
  animation: fadeCycle 10s infinite;
  transition: opacity 1s ease-in-out;
}
.img1 {
  animation-delay: 0s;
}
.img2 {
  animation-delay: 5s;
}
@keyframes fadeCycle {
  0%, 45%   { opacity: 1; }
  50%, 95%  { opacity: 0; }
  100%      { opacity: 1; }
}
