* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#navigation{
    display: flex;
    justify-content: space-evenly;
    align-items: center;    
    width: 100%;
    height: 70px;
    border-bottom: rgb(228, 219, 219) 1px solid;
}
#nav-mid{
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 2rem;
}
#nav-mid li a{
    position: relative;
}
#nav-mid li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -20px;
  height: 2px;              /* underline thickness */
  width: 0%;                 /* start invisible */
  background-color: black;  /* line color */
  transition: width 0.5s ease; /* smooth animation */
}

#nav-mid li a:hover::after {
  width: 100%;              /* expands fully on hover */
}